.onoff {
  position: relative;
  display: inline-flex;
  align-items: center;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + div {
      background-color: $switcher-color;
    }

    &:checked + div::before {
      transform: translateX(100%);
    }
  }

  div {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 53px;
    height: 25px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #cccccc;
    transition: transform 0.3s ease;

    @media screen and (max-width: 390px) {
      width: 38px;
      height: 16px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 17px;
      left: 4px;
      top: 4px;
      background-color: #ffffff;
      transition: transform 0.3s ease;
      border-radius: 2px;

      @media screen and (max-width: 390px) {
        width: 17px;
        height: 12px;
        left: 2px;
        top: 2px;
      }
    }
  }
}
